In [25]:
import pandas as pd
import numpy as np

In [16]:
train_df_full = pd.read_csv(r'\\icnas4.cc.ic.ac.uk\fl4718\Desktop\Machine learning\Data\train.csv', index_col=0)
structures_df_full = pd.read_csv(r'\\icnas4.cc.ic.ac.uk\fl4718\Desktop\Machine learning\Data\structures.csv')

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [20]:
test_df_full = pd.read_csv(r'\\icnas4.cc.ic.ac.uk\fl4718\Desktop\Machine learning\Data\test.csv', index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [17]:
train_df_full.head()

,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
id,,,,,
0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [9]:
structures_df_full.head()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

In [21]:
test_df_full.head()

            molecule_name  atom_index_0  atom_index_1  type
id
4658147  dsgdb9nsd_000004             2             0  2JHC
4658148  dsgdb9nsd_000004             2             1  1JHC
4658149  dsgdb9nsd_000004             2             3  3JHH
4658150  dsgdb9nsd_000004             3             0  1JHC
4658151  dsgdb9nsd_000004             3             1  2JHC

In [22]:
def merge(df_1, df_2, indx):
    df_merge = pd.merge(df_1, df_2, how='left',
                       left_on=['molecule_name', f'atom_index_{indx}'],
                       right_on=['molecule_name', 'atom_index'])
    df_merge = df_merge.drop(['atom_index'], axis=1)
    df_merge = df_merge.rename(columns={'atom': f'atom_{indx}',
                                       'x': f'x_{indx}',
                                       'y': f'y_{indx}',
                                       'z': f'z_{indx}'})
    
    return df_merge

In [24]:
train = merge(train_df_full, structures_df_full, 0)
train = merge(train, structures_df_full, 1)

test = merge(test_df_full, structures_df_full, 0)
test = merge(test, structures_df_full, 1)

train.head()

,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,atom_1,x_1,y_1,z_1
0,dsgdb9nsd_000001,1,0,1JHC,84.8076,H,0.002150,-0.006031,0.001976,C,-0.012698,1.085804,0.008001
1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,H,0.002150,-0.006031,0.001976,H,1.011731,1.463751,0.000277
2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,H,0.002150,-0.006031,0.001976,H,-0.540815,1.447527,-0.876644
3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,H,0.002150,-0.006031,0.001976,H,-0.523814,1.437933,0.906397
4,dsgdb9nsd_000001,2,0,1JHC,84.8074,H,1.011731,1.463751,0.000277,C,-0.012698,1.085804,0.008001

In [27]:
%%time
# Calculate the distance
train_posi_0 = train[['x_0', 'y_0', 'z_0']].values
train_posi_1 = train[['x_1', 'y_1', 'z_1']].values
test_posi_0 = test[['x_0', 'y_0', 'z_0']].values
test_posi_1 = test[['x_1', 'y_1', 'z_1']].values

train['distance'] = np.linalg.norm(train_posi_0 - train_posi_1, axis=1)
test['distance'] = np.linalg.norm(test_posi_0 - test_posi_1, axis=1)

Wall time: 797 ms

In [28]:
train.head()

,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,atom_1,x_1,y_1,z_1,distance
0,dsgdb9nsd_000001,1,0,1JHC,84.8076,H,0.002150,-0.006031,0.001976,C,-0.012698,1.085804,0.008001,1.091953
1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,H,0.002150,-0.006031,0.001976,H,1.011731,1.463751,0.000277,1.783120
2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,H,0.002150,-0.006031,0.001976,H,-0.540815,1.447527,-0.876644,1.783147
3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,H,0.002150,-0.006031,0.001976,H,-0.523814,1.437933,0.906397,1.783157
4,dsgdb9nsd_000001,2,0,1JHC,84.8074,H,1.011731,1.463751,0.000277,C,-0.012698,1.085804,0.008001,1.091952